{% extends 'base.html'%}
<br>
<br>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
{% block content %}

<body>

    <div class="main">
        <div class="container-fluid" style="margin-top: 5%;">
            <div class="row">
                <div class="col-md-"></div>
                <div class="col-3" style="background-color: black;">
                    <div class="card-column">
                        <div class="card-header">
                            <h4 style="color: white;font-weight: bolder;">NEWS SOURCES</h4>
                        </div>
                        <div class="list-group list-group-flush scrolly">
                            <ul>
                                {% for source in sources %}
                                <a href="/article/{{source.id}}" style="text-decoration: none; color: white;font-weight: bolder;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                                    <p class="text-capitalize text-muted">{{source.id}}</p>
                                </a>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-7">
                    <h1 align="center"> TIMELY NEWS HEADLINES</h3>
                        <div class="container">
                            <div class="card-columns">
                                {% for headlines in headlines %}

                                <div class="card">
                                    <img class="card" src="{{headlines.image}}" alt="Card image cap" size="100px180">
                                    <div class="card-body">
                                        <h5 class="card-title">{{headlines.author}}</h5>
                                        <p class="card-text">{{headlines.description}}</p>
                                        <a href="{{headlines.url}}">
                                            <p class="card-text">Click here for more details!</p>
                                        </a>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">Publish date:{{headlines.time}}</small>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                </div>

            </div>
        </div>
    </div>

</body>

{% endblock %}

</html>