{% macro displaySourcesList(sources_list) %} {% for source in sources_list %}
<a href="/source/{{source.id}}">
    <div class="col-md-2" class="source" style="margin: 20px;border: 2px solid #ccc;background-image: url('static/images/background1.jpg'); background-size: cover; background-color: lightgrey;height: 150px;padding: 60px 0px;border-radius: 4px;box-shadow: 0 0 25px grey">

        <p class="text-center" style="font-style: bold;font-size: 18px;background-color: rgba(0,0,0,1);">{{source.name}}</p>

    </div>
</a>
{% endfor %} {% endmacro %} {% macro displayArticlesList(articles_list) %} {% for article in articles_list %}
<div style="margin: 20px;border: 2px solid #ccc;background-color: #FEFBF7;border-radius: 4px;box-shadow: 0 0 25px #ddd">
    <div class="row" style="padding: 5px">
        <div class="col-md-3" style="text-align: center">
            <img src="{{article.image}}" alt="{{article.title}}" style="width: 100%; height: 100%">
        </div>
        <div class="col-md-9">
            <a target="_blank" href="{{article.url}}">
                <h4 style="font-weight: 700">{{article.title}}</h4>
            </a>
            <p><small style="font-style: italic;">written by {{article.author}} on {{article.date}}</small></p>
            <p>{{article.description | truncate(135)}}</p>
            <a target="_blank" href="{{article.url}}">
                <button class="btn btn-sm btn-default" style="color: #0d47a1">Read more</button>
            </a>
        </div>
    </div>
</div>
{% endfor %} {% endmacro %}