{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIMELY NEWS</title>
</head>

<body>

    {% block content %}
    <h1>TIMELY NEWS!!!!</h1>

    <div class="container-fluid">

        <div class="articles">
            <h3><img src="../static/images/logo.jpg" alt="" width="150px" height="75px"> | {{id}} | Top News Articles</h3>
            <hr />
            <ul class="unstyled">
                <div>
                    {{ macro.displayArticlesList(articles) }}
                </div>
            </ul>
        </div>
    </div>
    {% endblock %}


</body>

</html>